<div class="register-container">
  <form [formGroup]="registerForm">
    <div [ngClass]="registerForm.controls['username'].invalid && registerForm.controls['username'].touched?'error':''"
      class="form-input-container">
      <label for="username">Username: </label>
      <input formControlName="username" id="username" placeholder="JohnDoe">
    </div>
    <div [ngClass]="registerForm.controls['userEmail'].invalid && registerForm.controls['userEmail'].touched?'error':''"
      class="form-input-container">
      <label for="email">Email: </label>
      <input formControlName="userEmail" id="email" placeholder="example@email.com">
    </div>
    <div formGroupName="passwords">
      <div
        [ngClass]="registerForm.controls['passwords'].invalid && registerForm.controls['passwords'].touched?'error':''"
        class="form-input-container">
        <label for="password">Password: </label>
        <input formControlName="password" id="password" placeholder="password" type="password" autocomplete="on">
      </div>
      <div
        [ngClass]="registerForm.controls['passwords'].invalid && registerForm.controls['passwords'].touched?'error':''"
        class="form-input-container">
        <label for="repeate-password">
          <p>Password: </p>
        </label>
        <input formControlName="repeatePassword" id="repeate-password" placeholder="confirm" type="password"
          autocomplete="on">
      </div>
    </div>
    <div class="action-bar">
      <div class="therms-and-conditions">
        <input type="checkbox" (change)="handleCheck($event)" />
        <label for="repeate-password">
          I have reand and i agree to the therm and conditions.
        </label>
      </div>
      <div (click)="handleFormSubmit()" class="submit-button">
        <div class="text-button-container">
          <span>Submit</span>
        </div>
      </div>
    </div>
  </form>
</div>