<div class="register-container">
  <!-- <h1>Login</h1>
  <hr /> -->
  <form>
    <div class="form-input-container">
      <label for="username">Username: </label>
      <input id="username" placeholder="JohnDoe">
    </div>
    <div class="form-input-container">
      <label for="email">Email: </label>
      <input id="email" placeholder="example@email.com">
    </div>
    <div class="form-input-container">
      <label for="password">Password: </label>
      <input id="password" placeholder="password" type="password">
    </div>
    <div class="form-input-container">
      <label for="repeate-password">
        <p>Password: </p>
      </label>
      <input id="repeate-password" placeholder="confirm" type="password">
    </div>
    <div class="action-bar">
      <div class="therms-and-conditions">
        <input type="checkbox" />
        <label for="repeate-password">
          I have reand and i agree to the therm and conditions.
        </label>
      </div>
      <div onclick="submit()" class="submit-button">
        <div class="text-button-container">
          <span>Submit</span>
        </div>
      </div>
    </div>
  </form>
</div>